################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DependencyValidation1/DependencyValidation1.layerdiagram
/DependencyValidation1
